@font-face {
    font-family: 'Boneless';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Boneless.ttf') format('truetype');
}

@font-face {
    font-family: 'Rocking';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Rocking.ttf') format('truetype');
}
