/*Cabeçalho da página*/
.link-container{
    padding-top: 25px;
    padding-bottom: 10px;
}
.titulo{
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Rocking';
    text-align: center;
    font-size: 70px;
    color:#E7D6C3;
}
link{
    text-align: left;
}

/*carrossel*/
.carousel .carousel-inner{
    height:500px
    }
    .carousel-inner .carousel-item img{
    min-height:200px;
    /*prevent it from stretch in screen size < than 768px*/
    object-fit:cover
    }
    
    @media(max-width:768px){
    .carousel .carousel-inner{
    /*prevent it from adding a white space between carousel and container elements*/
    height:auto
     }
    }