/*Cabeçalho da página*/
.link-container{
    padding-top: 25px;
    padding-bottom: 10px;
}
.titulo{
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Rocking';
    text-align: center;
    font-size: 70px;
    color:#E7D6C3;
}
link{
    text-align: left;
}

/*carrossel*/
.carousel .carousel-inner{
    height:500px;
    background-color: #000;
    }
    .carousel-inner .carousel-item img{
    object-fit: contain;
    height: 500px;
    }
    
    @media(max-width:768px){
    .carousel .carousel-inner{
    /*prevent it from adding a white space between carousel and container elements*/
    height:auto
     }
    }

/*Layout inferior*/

.organizacao{
    padding-top: 30px;
    padding-bottom: 30px;
}
.titulo-index{
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Rocking';
    color: #E7D6C3;
    text-align: center;
}
.texto-index{
    color: white;
    font-family: 'Overpass', sans-serif;
    text-align: center;
}
