/*fontes pesonalizadas*/
@font-face {
    font-family: 'Boneless';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Boneless.ttf') format('truetype');
}

@font-face {
    font-family: 'Rocking';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Rocking.ttf') format('truetype');
}

/*Configuração Geral das Páginas*/
.limitador{
    max-width: 1300px;
    margin: 0px auto;
}
img{
    max-width: 100%;
}
.background-geral, body{
    background-color: rgb(48, 48, 48);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* Endbar */
.endbar{
    background-color:rgba(19, 19, 19, 0.9);
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: left;
}
.titulo-end{
    color:#E7D6C3;
    font-family: 'Overpass', sans-serif;
}
.texto-end{
    color: white;
    font-family: 'Overpass', sans-serif;
}

.link {
    text-align: right;
}

.link > a {
    text-decoration: none;
}

.nav-col-img {
    position: relative;
    min-width: 140px;
    max-width: 140px;
}

@media (min-width: 576px) {

    .nav-col-img {
        min-width: 100px;
        max-width: 100px;
    }

}

.nav-link {
    padding: 1rem 0.5rem;
    color: #f00;
}

.nav-link:hover {
    color: rgba(255, 0, 0, 0.509);
    
}
