
/*Configuração Geral das Páginas*/
.limitador{
    max-width: 1300px;
    margin: 0px, auto;
}
img{
    max-width: 100%;
}
html{
    background-color: #202020;
}

.background-geral{
    background-color: rgba(37, 37, 37, 1);

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* Endbar */
.endbar{
    background-color:rgba(19, 19, 19, 0.9);
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: left;
}
.titulo-end{
    color:#E7D6C3;
    font-family: 'Overpass', sans-serif;
}
.texto-end{
    color: white;
    font-family: 'Overpass', sans-serif;
}