.coupon {

    width: 80%;
    height:20%;
    border-radius: 12px; /* Rounded border */
    margin: 0 auto; /* Center the coupon */
    max-width: 1000px;
    border-color: rgb(233, 231, 231); 
    margin-bottom: 20px;
}

.container {

    padding: 2px 16px;
    border-radius: 12px;
}

.colunaEsquerda{

    border-radius:12px 0px 0px 12px;    
    background: rgb(7, 1, 128);
    background: linear-gradient(90deg, rgb(4, 2, 43) 0%, rgb(10, 10, 143) 0%,rgb(21, 12, 196) 63%);
    color: antiquewhite;
    text-align: center;
}

.colunaEsquerda h1{

    margin-top: 10%;

}

.colunaEsquerda .mes{

    margin-top: -12%;
}

.textoCoupom{

    margin-top: 25px;
}

.textoCoupom p{ 

    margin-top: -4%;
           
    font-weight: bold;
           
}

.textoCoupom button{ 
    font-weight: bold;
    margin-top: 18%;
    margin-left: 29%;
    border-radius: 12px;
    padding:2.3% 20%;
    background-color: rgb(255, 58, 32);
    border: none;
                
}

.ticket{
           
    padding-top: 2%;
    padding-bottom: 2%;
    width: 80%;
    margin: auto;
}

.row{
    
    background: rgb(7, 1, 128);
    background: linear-gradient(90deg, rgb(17, 9, 170) 0%, rgb(19, 19, 221) 0%,rgb(0, 238, 255) 63%);
    border-radius: 12px;
}
.link{
    display: inline-block;
}