.coupon {

    width: 80%;
    height:20%;
    border-radius: 12px; /* Rounded border */
    margin: 0 auto; /* Center the coupon */
    max-width: 1000px;
    border-color: rgb(233, 231, 231); 
    margin-bottom: 20px;
}

.container {

    padding: 2px 16px;
    border-radius: 12px;
}

.colunaEsquerda{

    border-radius:12px 0px 0px 12px;    
    background: rgb(58,88,241);
    background: linear-gradient(90deg, rgba(204,165,236,1) 6%, rgba(253,29,188,1) 50%, rgba(79,51,219,1) 100%);
    color: antiquewhite;
    text-align: center;
}

.colunaEsquerda h1{

    margin-top: 10%;

}

.colunaEsquerda .mes{

    margin-top: -12%;
}

.textoCoupom{

    margin-top: 25px;
}

.textoCoupom p{ 

    margin-top: -4%;
           
    font-weight: bold;
           
}

.textoCoupom button{ 
    font-weight: bold;
    margin-top: 18%;
    margin-left: 29%;
    border-radius: 12px;
    padding:2.3% 20%;
    background-color: rgb(255, 58, 32);
    border: none;
                
}

.ticket{
           
    padding-top: 2%;
    padding-bottom: 2%;
    width: 80%;
    margin: auto;
}

.rowcoupon{
    
    background: rgb(68,53,103);
    background: linear-gradient(90deg, rgba(68,53,103,1) 0%, rgba(79,51,219,1) 67%, rgba(54,172,228,1) 100%);
    border-radius: 12px;
}
.link{
    display: inline-block;
}

.tituloShow{
    font-family: 'Rocking';
    font-size: 70px;
    text-align: center;
    color: #E7D6C3;
    padding-top: 75px;
    padding-bottom: 35px;
}

.tituloCupom{
    margin-top: 2%;
}