.titulo{
    font-family: 'Rocking';
    font-size: 70px;
    text-align: center;
    color: #E7D6C3;
}

.secao1{
    padding-top: 75px;
    padding-bottom: 35px;
}

.imagemPonzio{
    width: 150px; /* width of container */
    height: 150px; /* height of container */
    object-fit:cover;
    object-position:-30px;
    border-radius: 50%;
    border: 1px solid #E7D6C3;
}
.espacoImagem{
    padding-left: 15px;
    padding-right: 15px;
}
.imagemVictor{
    width: 150px; /* width of container */
    height: 150px; /* height of container */
    object-fit:cover;
    object-position: 0px 5px;
    border-radius: 50%;
    border: 1px solid #E7D6C3;
}
.imagemMarcelo{
    width: 150px; /* width of container */
    height: 150px; /* height of container */
    object-fit:cover;
    object-position: 0px 5px;
    border-radius: 50%;
    border: 1px solid #E7D6C3;
}