<main>
    <div class="container-fluid secao-1">
        <h1 class="titulo">

            Administração de Shows!

        </h1>

        <div class="row">

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" spellcheck="false" id="nome" name="nome" class="form-control" />
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="data">Data / Hora</label>
                    <input type="datetime-local" id="data" name="data" class="form-control" />
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="link">Link</label>
                    <input type="url" id="link" name="link" class="form-control" />
                </div>
            </div>

        </div>

        <div class="form-group">
            <label for="endereco">Endereço</label>
            <input type="text" spellcheck="false" id="endereco" name="endereco" class="form-control" />
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary btn-lg" onclick="criarShow()">Criar Show</button>
        </div>

    </div>
</main>

<script type="text/javascript">

    async function criarShow() {

        try {

            let nome = document.getElementById("nome");
            let data = document.getElementById("data");
            let link = document.getElementById("link");
            let endereco = document.getElementById("endereco");

            // @@@ validar

            let cadastroShow = {
                nome: nome.value,
                data: data.value,
                link: link.value,
                endereco: endereco.value
            };

            let opcoes = {
                method: "POST",
                body: JSON.stringify(cadastroShow),
                headers: {
                    "Content-Type": "application/json"
                }
            };

            let resposta = await fetch("/criarEvento", opcoes);

            //Aviso sobre o envio
            if (!resposta.ok) {
                alert("Ocorreu um erro ao criar o show! Tente novamente!");
            } else {
                nome.value = "";
                data.value = "";
                link.value = "";
                endereco.value = "";
                alert("Show Criado com sucesso");
            }

        } catch (excecao) {
            // Erro de Rede
            alert("Erro de rede: " + excecao.message);
        }

    }

</script>

<%- contentFor("head") %>

    <link rel="stylesheet" type="text/css" href="/public/css/cadastro.css" />