<main>

    <div class="container-fluid">

        <div class="row secao-1">

            <div class="col-sm-6">

                <h1 class="titulo">
                    Sobre Nós
                </h1>

            </div>

        </div>

    </div>

    <div class="row">
        
        <div class="col-sm-4">

            <p>
        
                <br>A Banda 'Capivaras Mutantes' é um trio paulistano de rock'n'roll, com influências do rock clássico,
                hard rock, punk e rock nacional. A banda foi criada no início de 2019 por 3 amigos que estudavam na
                mesma escola, Gabriel Ponzio (Bateria, vocal, backing), Victor Blecher (Guitarra, vocais, backing) e
                Marcelo Fischlim (Baixo e backings), em que todos possuíam uma vontade inata de transformar a música em
                algo mais presente no local onde estudavam. Assim, os três amigos começaram a ensaiar diversas músicas
                no estúdio da escola, várias e várias vezes, para finalmente conseguirem apresentar elas nos shows que
                organizaram nos intervalos e nas feiras e mostras de artes.
        
            </p>
        
        </div>
        
        <div class="col-sm-4">
        
            <p>
                <br>Durante os ensaios, eles tiveram ajuda do professor de música e amigo deles, Well, que ajudava com
                os arranjos, covers e também com ideias e teoria musica. Também, um ano antes, Ponzio aprendeu um pouco
                sobre microfonação e mixagem com Cyro, que era amigo, produtor e fotógrafo da escola. Com o passar do
                tempo, eles começaram a ter suas próprias ideias criativas, começando por uma ideia de uma história
                repartida em letras, inspirada no “Inferno De Dante”, que acabou não indo para frente. Em seguida eles
                compuseram o Capivaras mutantes, que acabou sendo a porta para outras composições como, “Rei Sem Coroa”,
                “Lobo”, “Cores” e “Começo”.
        
            </p>
        
        </div>

        <div class="col-sm-4">
        
            <p>
        
                <br>Em 2020 foi gravado o single “Capivaras Mutantes”, sendo esse o carro chefe da banda, que inclusive
                acabou originando o nome da banda e também mais próximo do final do ano o “Rei Sem Coroa”. Ambos os
                singles foram gravados na casa de Ponzio, que possuía uma pequena mesa de som e um kit com alguns
                microfones, que possibilitaram a gravação e a mixagem dos discos. Logo após o lançamento do Rei, a banda
                acabou se separando.
        
            </p>

        </div>

</main>