<main>

    <div class="container-fluid">

        <div class="row secao1">

            <div class="col-sm-12">

                <h1 class="titulo">
                    Sobre a Banda
                </h1>

            </div>

        </div>

        <div class="row">
            
            <div class="col-sm-6">

                <p>
            
                    <br>A Banda 'Capivaras Mutantes' é um trio paulistano de rock 'n roll, com influências do rock clássico,
                    hard rock, punk e rock nacional. A banda foi criada no início de 2019 por 3 amigos que estudavam na
                    mesma escola, Gabriel Ponzio (bateria, vocal, backing), Victor Blecher (guitarra, vocais, backing) e
                    Marcelo Fischlim (baixo e backings), nela todos possuíam uma vontade inata de transformar a música em
                    algo mais presente no local onde estudavam. Assim, os três amigos começaram a ensaiar diversas músicas
                    no estúdio da escola, várias e várias vezes, para finalmente conseguirem apresentá-las nos shows que seriam 
                    organizados nos intervalos e nas feiras e mostras de artes. Durante os ensaios, eles tiveram ajuda do professor de música e amigo deles, Well, que os auxiliou
                    com os arranjos, covers e também com ideias e teoria musical. Também, um ano antes, Ponzio aprendeu um pouco
                    sobre microfonação e mixagem com Cyro, que era um amigo, produtor e fotógrafo da escola. 
            
                </p>
            
            </div>

            <div class="col-sm-6">
            
                <p>
            
                    <br>Com o passar do tempo, eles começaram a ter suas próprias ideias criativas. A primeira foi uma ideia de uma história
                    repartida em letras, inspirada no clássico da literatura “Inferno De Dante”, projeto que serviu de inspiração para futuras obras 
                    da banda mas que não foi finalizado. Depois compuseram o Capivaras Mutantes, fundamental para outras composições como, “Rei Sem Coroa”,
                    “Lobo”, “Cores” e “Começo”.Em 2020 foi gravado o single “Capivaras Mutantes”, sendo esse o carro chefe da banda, que inclusive
                    acabou originando o nome da banda e também, mais próximo do final do ano, o “Rei Sem Coroa”. Ambos os
                    singles foram gravados na casa de Ponzio, que possuía uma pequena mesa de som e um kit com alguns
                    microfones, que possibilitaram a gravação e a mixagem dos discos. Infelizmente, logo após o lançamento do álbum "Rei Sem Coroa", 
                    os integrantes da banda acabaram seguindo caminhos distintos que resultou na dissipação da banda.
            
                </p>

            </div>
        </div>

    </div>
</main>
<%- contentFor("head") %>
<link rel="stylesheet" type="text/css" href="/public/css/Sobre.css"/>
