<main>

    <div class="container-fluid">

        <div class="row secao-1">

            <div class="col-sm-12">

                <h1 class="titulo">
                    Capivaras Mutantes
                </h1>

                <p class="img-capivaras">
                    <img src="/public/Imagens/Imagens-banda/EP_Capivaras.png" width="500px" lang="500px" alt="Capa-Album-Capivaras">
                </p>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-sm-4">

            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/5eBAszFszXMB8sNZk1Ukoj?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        </div>

        <div class="col-sm-8">

            <h1 class="titulo-trivia">
                Sobre o single Capivaras Mutantes
            </h1>

            <p class="texto-trivia">
                O single do Capivaras Mutantes surgiu em 2019, durante uma aula, em que os três integrantes pensaram "e se criassemos uma letra com as capivaras mutantes da marginal pinheiro". 
                Dessa forma, após os três escreverem juntos surgiu a letra da música. A melodia acabou levando mais tempo para ficar pronta. Da primeira versão da música, acabou se mantendo apenas 
                uma parte da melodia do refrão. A música viria a ficar pronta no começo de 2020, sendo gravada no final de março.
            </p>
        
            <p class="texto-trivia">
                A primeira ideia de capa do Single, surgiu a partir de uma pintura em um relógio feito pelo pai de Ponzio. No final, a ideia foi descartada já que, pediram para o tio de Ponzio,
                Rodrigo, o design do logo da banda e a da capa. Também a imagem não passava o real "feeling" da música.
            </p>

            <p class="texto-trivia">
                O single foi gravado independentemente, na casa de Ponzio. Ele possia uma pequena mesa de gravação e alguns microfones, que acabaram sendo um incentivo para tentarem gravar sua 
                primeira música.
            </p>
            
        </div>
        
    </div>

</main>

<%- contentFor("head") %>
<link rel="stylesheet" type="text/css" href="/public/css/Capivaras.css"/>