<main>

    <div class="container-fluid">

        <div class="row secao-1">

            <div class="col-sm-6 offset-lg-3">

                <h1 class="titulo">
                    Capivaras Mutantes
                </h1>

                <p class="img-capivaras">
                    <img src="/public/Imagens/Imagens-banda/EP_Capivaras.png" width="500px" lang="500px" alt="Capa-Album-Capivaras">
                </p>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-sm-4">

            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/5eBAszFszXMB8sNZk1Ukoj?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        </div>

        <div class="col-sm-8">

            <h1 class="titulo-trivia">
                Sobre a música Capivaras Mutantes
            </h1>

            <p class="texto-trivia">
                Texto Formatado
            </p>

            <img src="/public/Imagens/Imagens-banda/Primeira_Ideia_Capa.png" width="150px" lang="150px" alt="Priemira-ideia-da-capa">

        </div>

    </div>

</main>

<%- contentFor("head") %>
<link rel="stylesheet" type="text/css" href="/public/css/Capivaras.css"/>