<h1>Álbuns</h1>
<style>
    .body {
     background-color: rgb(25, 25, 25);
     padding: 0px;
     margin: 0px;
    }
    .limitador {
      max-width: 1000px;
      margin: 0px auto;
    }
    .Discografia {
      background-image: url(X);
     color:  black;
     padding: 0px 15px;
     background-size: cover;
     max-width: fit-content;
            }
    
    .H1{
    font-family:'New Rocker', cursive;
    text-align: center;
    margin: 0px auto 0px auto;
    padding-bottom: 50px;
    }
    .card-text {
        font-family: 'Overpass', cursive;
    }
    
    
    </style>
    </head>
    <main>
        <div class="limitador">
            <h1 class="H1"> Discografia </h1>
            <div class="album py-5 bg-light">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            
                        <div class="card-body">
                          <p class="card-text">Capivaras mutantes</p>
                          <div class="d-flex justify-content-between align-items-center">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            
                        <div class="card-body">
                          <p class="card-text">Reis sem coroa</p>
                          <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                  </div>
                </div>
    </main>
    
    
    
    
    
    
                    
                            
        