
<main>

  <div class="container secao-1">

    <h1 class="titulo">
      Discografia
    </h1>

  </div>

  <div class="row row-cols-1 row-cols-md-2"  style="max-width: 100%;">
    <div class="col-md-6 col-lg-4 offset-lg-1 p-5">
      <a class="card" href="albuns/capivaras-mutantes">
        <img src="/public/Imagens/Imagens-banda/EP-Rei.jpg" class="card-img-top" alt="Capa-Rei">
        <div class="card-body">
          <h4 class="card-title titulo-alb text-center">Rei Sem<br/>Coroa</h4>
        </div>
        <div class="card-footer text-center">
          <small class="data-alb">14/10/2020</small>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4 offset-lg-2 p-5">
      <a class="card" href="albuns/Rei-Sem-Coroa">
        <img src="/public/Imagens/Imagens-banda/EP_Capivaras.png" class="card-img-top" alt="Capa-Capivaras">
        <div class="card-body">
          <h4 class="card-title titulo-alb text-center">Capivaras<br/>Mutantes</h4>
        </div>
        <div class="card-footer text-center">
          <small class="data-alb">10/04/2022</small>
        </div>
      </a>
    </div>
  </div>

</main>

<%- contentFor("head") %>
<link rel="stylesheet" type="text/css" href="/public/css/index-album.css" />
