<main>

    <div class="container-fluid">

        <div class="row secao-1">

            <div class="col-sm-12">

                <h1 class="titulo">
                    Rei sem Coroa
                </h1>

                <p class="img-capivaras">
                    <img src="/public/Imagens/Imagens-banda/EP-Rei.jpg" width="500px" lang="500px" alt="Capa-Album-Capivaras">
                </p>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-sm-4">

            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/7w6BzzNSFEvwxE1LsahaKt?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        </div>

        <div class="col-sm-8">

            <h1 class="titulo-trivia">
                Sobre o single Rei Sem Coroa
            </h1>

            <p class="texto-trivia">
                O single do Rei Sem Coroa surgiu também em 2019. Diferentemente do Capivaras, a letra do Rei foi escrita apenas pelo Ponzio, já que ela representava um momento que era vivido ele.
                A letra do Rei era um pouco maior originalmente, mas acabou sendo "cortada" ao longo das versões, até chegar na definitiva. Ela mistura uma balada com punk, para representar um momento
                de medo e confusão e depois de revolta.
            </p>
        
            <p class="texto-trivia">
                Com a distância de quase meio ano do lançamento do Capivaras para o Rei, Ponzio foi se aprimorando na mixagem. Com isso, Ponzio conseguiu trazer uma proposta mais pesada na mixagem
                adequando-se a ideia da música
            </p>

            <p>
                O single também foi gravado independentemente, na casa de Ponzio. Ele possia uma pequena mesa de gravação e alguns microfones, que acabaram sendo um incentivo para tentarem gravar sua 
                primeira música.
            </p>
            
        </div>

        <div class="col-sm-12 secao-3">

            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/public/Imagens/Imagens-banda/Primeira_Ideia_Capa.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Primeira ideia de capa</h5>
                      <p>A pintura foi feita por Frederico (pai de Ponzio)</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="/public/Imagens/Imagens-albuns/Pro-tools.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Second slide label</h5>
                      <p>Some representative placeholder content for the second slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="/public/Imagens/Imagens-albuns/Gravação-victor.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Third slide label</h5>
                      <p>Some representative placeholder content for the third slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="/public/Imagens/Imagens-albuns/Gravação-marcelo.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Third slide label</h5>
                      <p>Some representative placeholder content for the third slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="/public/Imagens/Imagens-albuns/Pro-tools.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Third slide label</h5>
                      <p>Some representative placeholder content for the third slide.</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </button>
              </div>

        </div>

    </div>

</main>

<%- contentFor("head") %>
<link rel="stylesheet" type="text/css" href="/public/css/Capivaras.css"/>